.topbar{
    display: flex;
    height: 50px;
    top: 0;
    position: sticky;
    background-color: white;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.topbarLeft, .topbarRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbarIcon{
    margin-left: 10px;
    cursor: pointer;
    font-size: 26px;
}

.topbarCenter{
    flex: 6;
}

.topbarList{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.topbarListItem{
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.topbarImg{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
}

.topbarIconSearch{
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}
